@tailwind base;
@tailwind components;
@tailwind utilities;

.max-container {
  @apply mx-auto max-w-[1440px];
}

.font-body-small {
  font-size: 14px;
  line-height: 20 / 14;
  font-family: "Inter";
  color: #111827;
}
